<!-- Banner Box 组件 -->
<link rel="stylesheet" href="./components/banner-box/banner-box.css">

<div class="banner-box">
    <div class="banner">
        <div class="rectangle"></div>
        <div class="img-dizhibiaozhunhua"></div>
        <div class="gradient-overlay"></div>
    </div>
    <div class="banner-content">
        <div class="banner-content-title">
            <h1 class="h1">地址标准化</h1>
            <h2 class="h2">依托于京东海量的标准门址库，助力企业规整地址数据，释放数据价值</h2>
        </div>
        <div class="banner-content-button">
            <div class="button-primary">
                <div class="button-bg"></div>
                <span>立即试用</span>
            </div>
            <div class="button-sec">
                <span>在线咨询</span>
            </div>
        </div>
    </div>
</div>

<script src="./components/banner-box/banner-box.js"></script>