<!-- 网站头部组件 -->
<link rel="stylesheet" href="./components/header/header.css">

<header class="site-header">
    <div class="header-background">
        <div class="line"></div>
    </div>
    <div class="container">
        <div class="header-liftgroup">
            <a href="/" class="logo">
                <img src="./assets/img/logo.png" alt="网站Logo">
            </a>
            
            <nav class="nav-item">
                <div class="tab-default active">
                    <div class="tab-text">
                        <span class="text">首页</span>
                        <div class="select"></div>
                    </div>
                </div>
                
                <div class="tab-default">
                    <div class="tab-text">
                        <span class="text">产品</span>
                        <div class="select"></div>
                    </div>
                    <div class="icon-menu">
                        <img src="./assets/img/icon-menu.png" alt="菜单" class="menu-icon">
                    </div>
                </div>
                
                <div class="tab-default">
                    <div class="tab-text">
                        <span class="text">解决方案</span>
                        <div class="select"></div>
                    </div>
                    <div class="icon-menu">
                        <img src="./assets/img/icon-menu.png" alt="菜单" class="menu-icon">
                    </div>
                </div>
                
                <div class="tab-default">
                    <div class="tab-text">
                        <span class="text">关于我们</span>
                        <div class="select"></div>
                    </div>
                </div>
            </nav>
        </div>
        
        <div class="header-rightgroup">
            <div class="phone">
                <div class="phone-icon">
                    <div class="icon-shape"></div>
                </div>
                <div class="number">400-123-4567</div>
            </div>
            
            <div class="button-login">登录</div>
            
            <div class="button-register">
                <span>免费注册</span>
            </div>
        </div>
    </div>
</header>

<script src="./components/header/header.js"></script>